* {box-sizing: border-box;}


:root {
  --body-color: #e8e8e8;
  --search-box-color: #e8e8e8;
  --bg-color: #fff;
  --button-color: #fff;
  --main-gradient-color: linear-gradient(to right, #d2e7fe, #004fa2);
  --alert-blue-back-color: #2353d9;
  --text-color: black;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--body-color);
  transition: background 0.3s;
}

.dark-theme {
  --body-color: #212121;
  --button-color: #212121;
  --bg-color: #424242;
  --alert-blue-back-color: #424242;
  --button-color: #212121;
  --text-color: #fff;
  --main-gradient-color: linear-gradient(to right, #424242, #212121);
}


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*  GENERAL BUTTON DESIGN */

.buy-button {
  border: solid;
  border-radius: 15px;
  border-color: blue;
  margin: auto;
  outline: 0;
  padding: 6px;
  color: blue;
  background-color: var(--button-color);
  text-align: center;
  cursor: pointer;
  width: 60%;
  font-size: 14px;
  text-decoration: none;
}

.buy-button:hover {
	color: skyblue;
    border-color: skyblue;
    text-decoration: underline;
    transition: all ease 0.3s;
}




/* AUTOCOMPLETE */
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--bg-color); 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: var(--body-color); 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

/* NAV BAR */


.topnav {
  overflow: hidden;
  background: url("res/imgs/header.webp");
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.banner-img {
	width: 100%;
}

.topnav a:hover {
  background-color: var(--bg-color);
  color: black;
}

.topnav a.active {
  background-color: skyblue;
  color: white;
}

.active {
	background-color: skyblue;

}

.topnav .search-container {
  float: right;
}



.search-container input[type=text] {
	border-radius: 5px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button {
	color: #fff;
    border-radius: 5px;
    background-color: #354ebd;
}

.button-page-search {
	background-color: #354ebd;
}

.topnav .search-container button:hover {
  background: var(--bg-color);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: var(--bg-color);
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: gray;
  background-color: #354ebd;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}



.dropdown-content .header {
  background: #004fa2;
  padding: 16px;
  color: var(--text-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: var(--body-color);
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column-link {
  color: black;
}

.column p {
	color: black;
}

.column a:hover {
  background-color: var(--body-color);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
  	width: 100%;
    border: 1px solid #ccc;  
  }
  
  .autocomplete-items div {
  	width: 100%;
  }
}

.navbar {
  width: 100%;
  background-color: #006ada;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: #000;
}

.active {
  background-color: #354ebd;
  color: gray;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background: var(--bg-color);
  border-radius: 25px;
  border-color: skyblue;
  border-width: bold;
  border-style: solid;
  color: var(--text-color);
}

.card2 {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background: var(--bg-color);
  border-radius: 25px;
  border-color: skyblue;
  border-width: bold;
  border-style: solid;
  padding: 20px 20px 20px 20px;
  color: var(--text-color);
}

.price {
  color: grey;
  font-size: 22px;
}

.card2 button {
  border: solid;
  border-radius: 15px;
  border-color: blue;
  margin: auto;
  outline: 0;
  padding: 6px;
  color: blue;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
}

.card button {
  border: solid;
  border-radius: 15px;
  border-color: blue;
  margin: auto;
  outline: 0;
  padding: 6px;
  color: blue;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
}

.card button:hover {
  opacity: 0.7;
}

.products-list {
	display: flex;
    background-image: var(--main-gradient-color);
    padding: 20px;
      flex-wrap: wrap;
      gap: 10px;

}

.promobanner {
	width: 84%;
    height: auto;
    background-color: var(--bg-color);
    border: solid;
    border-radius: 15px;
    margin: auto;
    border-color: skyblue;
    padding: 10px 10px 10px 10px;
}


/* ALERT MESSAGES */



.alert {
  padding: 20px;
  background-color: var(--alert-blue-back-color);
  color: white;
}

.alert a {
	color: skyblue;
    text-decoration: none;
}

.alert a:hover {
    text-decoration: underline;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* COOKIE BAR */

.infobar {
	background-color: #c7bd00;
    color: black;
    padding: 20px;
}

.cookiebar {
	background-color: #2353d9;
    color: white;
    padding: 20px;
}

/* IMPORTANT MESSAGE */


.alert-msg {
  padding: 20px;
  background-color: #f0d002;
  color: black;
}

.alert-msg a {
	color: skyblue;
    text-decoration: none;
}

.alert-msg a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 525px) {
	.navbar {
    	display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
  
  .product-list {
  	    flex-direction: column;
  }
}

.p-slider-home {
	display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    flex-wrap: wrap;
}

.p-slider-home-heading {
	font-size: 28px;
    text-transform: uppercase;
    color: var(--text-color);
    text-align: center;
    margin: 0px;
}

.product-box-home {
	display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    border: 1px solid skyblue;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
    align-items: center;
    position: relative;
}

.p-img-cont-home {
	width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.p-img-home a, .p-img-home {
	width: 100%;
    height: 100%;
    display: flex;
    object-position: center;
    object-fit: contain;
}


.p-box-text-home {
	margin-top: 5px;
    width: 100%;
}

.p-box-text-ptitle {
	color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
}

.p-box-text-ptitle:hover {
	color: skyblue;
    opacity: 0.7;
    transition: all ease 0.3s;
}

.price-buy-home {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.price-buy-home .p-price-home {
	font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 700;
}

.p-discount {
    width: 65px;
    height: 24px;
    color: #fff;
    background-color: e63b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    letter-spacing: 1px;    
}

.loadMoreButton {
	justify-content: center;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

/* footer */

footer {
	width: 98%;
	margin: 0.8rem auto;
  background-color: var(--bg-color);
	text-align: center;
}

footer a{
	text-decoration: underline;
	display: inline-block;
	margin: 0 0.2 rem;
	font-size: 0.8rem;
	color: var(--text-color);
	margin-bottom: 0.5rem;
}

footer span  {
	text-decoration: none;
	display: inline-block;
	margin: 0 0.2 rem;
	font-size: 0.8rem;
	color: var(--text-color);
	margin-bottom: 0.5rem;
}

/* DARK THEME */

#dark-btn {
	position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.05s, background 0.5s;
}
#dark-btn span {
	width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}

#dark-btn.dark-btn-on {
	padding-left: 23px;
    background: skyblue;
}

/* search results */

.very-main-area {
    display: flex;
    margin-top: 20px;
}

.filtersMain {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}
.filtersMain p{
  font-size: 21px;
  font-weight: 700;
}
.filtersSection {
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.filtersMain {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
}
/* 2n column */

.resultsProducts {
    width: 70%;
}

table {
  color: var(--text-color);
  width: 100%;
}

th {
  text-align: left;
  padding: 5px;
  background-color: var(--alert-blue-back-color);
  color: var(--text-color);
  font-weight: normal;
}

td {
  padding: 10px 5px;

}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}



.small-container {
  margin: 20px 20px 20px 20px;
}

small {
  font-size: 18px;
}

/****** CART ITEMS ****/
.cart-page {
  margin: 80px 80px 80px 80px;
}

.product-name-Cart a {
  color: red;
  cursor: pointer;
  font-size: 12px;
}

.product-name-Cart p {
  font-weight: 700;
  color: var(--text-color);
  font-size: 19px;
}

.product-name-Cart a:hover {
  color: skyblue;
  text-decoration: underline;
  transition: 0.2s;
  cursor: pointer;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

td img {
  width: 80px;
  margin-right: 10px;
}

.noProductsInCart {
  margin: 80px 80px 80px 80px;
}

.noProductsInCart h3 {
  color: var(--text-color);
}

.noProductsInCart a {
  color: var(--text-color);
  text-decoration: none;
}

.noProductsInCart a:hover {
  color: skyblue;
  text-decoration: underline;
  transition: 0.2s;
}

.total-price-cart {
  display: flex;
  justify-content: flex-end;
}

.total-price-cart table {
  border-top: 3px solid var(--alert-blue-back-color);
  border-bottom: 3px solid var(--alert-blue-back-color);
  width: 100%;
  max-width: 350px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

@media (max-width: 600px) {
  .very-main-area {
    flex-direction: column;
    display: flex;
  }
}